body {
  padding: 10px;
  font-family: monospace;
  background-color: #e0e0e0;
  color: #424242;
}

h1 {
  color: #000;
}

h2 {
  margin-top: 30px;
}

.column {
  width: calc(50% - 32px);
  float: left;
  border: 2px dashed #fff;
  margin: 7px;
  padding: 7px;
}
